// Border 

$none--border: none;

// Margin & Padding 

$v-30: 30px;
$v-15: 15px;

// Responsive 

$mobile-xs: 320px;
$mobile: 480px;
$tablet-xs: 780px;
$tablet-m: 991px; 
$tablet: 1024px; 
$desktop: 1280px;