@import "../bases/colors.scss";
@import "../bases/typography.scss";
@import "../utils/mixins.scss";
@import "../components/animations.scss";

* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: $hope-dark;
    background: linear-gradient(to bottom right,
            $hope-dark,
            #214320,
            #2E512E,
            #3C5F3C,
            $hope-medium,
        );
    animation: gradient 15s ease infinite;
}

img {
    object-fit: cover;
}

section {
    padding: 120px 0px;

    @media screen and(max-width: $mobile) {
        padding: 120px 10px;
    }
}