@import "../bases/colors.scss";
@import "../bases/typography.scss";
@import "../utils/mixins.scss";
@import "../components/animations.scss";

* {
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    padding: 0 30px;
    background-color: $pure;

    @media screen and (max-width: $mobile) {
        padding: 0 15px;
    }
}

img {
    object-fit: cover;
}

section {
    padding: 120px 0px;

    @media screen and(max-width: $mobile) {
        padding: 80px 0px;
    }
}