header {
    z-index: 99;
    height: 50px;

    .navbar {
        width: 15%;
        border-bottom-right-radius: 30px 30px;

        @media screen and (max-width: $mobile) {
            width: 80% !important;
        }

        @media screen and (max-width: $tablet-m) {
            width: 60%;
        }

        .infos-nav {
            margin-left: 8%;

            @media screen and (max-width: $mobile) {
                margin-left: 3% !important;
            }

            @media screen and (max-width: $tablet-m) {
                margin-left: 12%;
            }
        }

        .navbar-brand {
            .logo {
                width: 60%;

                @media screen and (max-width: $tablet-m) {
                    width: 50%;
                }
            }
        }

        .toggler {
            display: flex;
            border: $none--border;
            cursor: pointer;
            margin-left: 60%;
            margin-top: -10%;
            position: absolute;
            align-items: center;
            flex-direction: column;
            background-color: transparent;

            @media screen and (max-width: $mobile) {
                margin-top: -9% !important;
                margin-left: 50% !important;
            }

            @media screen and (max-width: $tablet-m) {
                margin-left: 50%;
                margin-top: -8%;
            }

            .bar {
                width: 30px;
                height: 2px;
                margin: 2px 0;
                transition: 0.4s;
                background-color: $hope-light;
            }
        }
    }

    .offcanvas {
        border-left: $none--border !important;
        backdrop-filter: blur(30px);
        background-color: $pure;

        .close {
            color: $beige;
            font-size: 25px;
            border: $none--border;
            background-color: transparent;
        }

        .navbar-nav,
        .reseaux {
            margin-top: $v-30;
        }

        .navbar-nav {
            text-align: center !important;

            @media screen and (max-width: $mobile) {
                margin-top: 0px !important;
            }

            .nav-item {
                .nav-link {
                    color: $hope-dark;
                    font-size: 25px;
                    font-weight: 700;
                    transition: 0.5s;
                    text-transform: uppercase;
                    font-family: $text;

                    &:hover,
                    &:focus,
                    &:active {
                        color: $beige;
                        margin-bottom: 15px;
                    }
                }
            }

            .reseaux {
                padding-top: $v-30;
                border-top: 3px solid $beige;
            }
        }
    }
}