.hope-dark {
  color: #133613;
}

.hope-medium {
  color: #4A6D4A;
}

.hope-light {
  color: #7F9570;
}

.beige {
  color: #DAD7CD;
}

.pure {
  color: #EFF1EF;
}

.bg-hope-dark {
  background-color: #133613;
}

.bg-hope-medium {
  background-color: #4A6D4A;
}

.bg-hope-light {
  background-color: #7F9570;
}

.bg-beige {
  background-color: #DAD7CD;
}

.bg-pure {
  background-color: #EFF1EF;
}

h1,
h2,
h3 {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
}

.stroke-dark {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #133613;
  -webkit-text-stroke: 1px #133613;
}

.stroke-light {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #EFF1EF;
  -webkit-text-stroke: 1px #EFF1EF;
}

h1 {
  font-size: 7.8rem;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 4rem !important;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 5.2rem;
  }
}

h2 {
  font-size: 5.5rem;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.9rem !important;
  }
}
@media screen and (max-width: 1280px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: 5rem;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 2.8rem !important;
  }
}
@media screen and (max-width: 1280px) {
  h3 {
    font-size: 5.4rem;
  }
}

p {
  font-size: 26px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.3px;
  font-family: "Rajdhani", sans-serif;
}
@media screen and (max-width: 991px) {
  p {
    font-size: 23px;
  }
}
p strong {
  font-weight: 600;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  padding: 0 30px;
  background-color: #EFF1EF;
}
@media screen and (max-width: 480px) {
  body {
    padding: 0 15px;
  }
}

img {
  object-fit: cover;
}

section {
  padding: 120px 0px;
}
@media screen and (max-width: 480px) {
  section {
    padding: 80px 0px;
  }
}

.radius {
  border-radius: 1.35rem;
}

.pd-lg-5 {
  padding: 5em;
}
@media screen and (max-width: 480px) {
  .pd-lg-5 {
    padding: 3em;
  }
}

.max {
  width: 100%;
}

.hope-dark {
  color: #133613;
}

.hope-medium {
  color: #4A6D4A;
}

.hope-light {
  color: #7F9570;
}

.beige {
  color: #DAD7CD;
}

.pure {
  color: #EFF1EF;
}

.bg-hope-dark {
  background-color: #133613;
}

.bg-hope-medium {
  background-color: #4A6D4A;
}

.bg-hope-light {
  background-color: #7F9570;
}

.bg-beige {
  background-color: #DAD7CD;
}

.bg-pure {
  background-color: #EFF1EF;
}

h1,
h2,
h3 {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
}

.stroke-dark {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #133613;
  -webkit-text-stroke: 1px #133613;
}

.stroke-light {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #EFF1EF;
  -webkit-text-stroke: 1px #EFF1EF;
}

h1 {
  font-size: 7.8rem;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 4rem !important;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 5.2rem;
  }
}

h2 {
  font-size: 5.5rem;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.9rem !important;
  }
}
@media screen and (max-width: 1280px) {
  h2 {
    font-size: 5rem;
  }
}

h3 {
  font-size: 5rem;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 2.8rem !important;
  }
}
@media screen and (max-width: 1280px) {
  h3 {
    font-size: 5.4rem;
  }
}

p {
  font-size: 26px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.3px;
  font-family: "Rajdhani", sans-serif;
}
@media screen and (max-width: 991px) {
  p {
    font-size: 23px;
  }
}
p strong {
  font-weight: 600;
}

header {
  z-index: 99;
  height: 50px;
}
header .navbar {
  width: 15%;
  border-bottom-right-radius: 30px 30px;
}
@media screen and (max-width: 480px) {
  header .navbar {
    width: 80% !important;
  }
}
@media screen and (max-width: 991px) {
  header .navbar {
    width: 60%;
  }
}
header .navbar .infos-nav {
  margin-left: 8%;
}
@media screen and (max-width: 480px) {
  header .navbar .infos-nav {
    margin-left: 3% !important;
  }
}
@media screen and (max-width: 991px) {
  header .navbar .infos-nav {
    margin-left: 12%;
  }
}
header .navbar .navbar-brand .logo {
  width: 60%;
}
@media screen and (max-width: 991px) {
  header .navbar .navbar-brand .logo {
    width: 50%;
  }
}
header .navbar .toggler {
  display: flex;
  border: none;
  cursor: pointer;
  margin-left: 60%;
  margin-top: -10%;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
}
@media screen and (max-width: 480px) {
  header .navbar .toggler {
    margin-top: -9% !important;
    margin-left: 50% !important;
  }
}
@media screen and (max-width: 991px) {
  header .navbar .toggler {
    margin-left: 50%;
    margin-top: -8%;
  }
}
header .navbar .toggler .bar {
  width: 30px;
  height: 2px;
  margin: 2px 0;
  transition: 0.4s;
  background-color: #7F9570;
}
header .offcanvas {
  border-left: none !important;
  backdrop-filter: blur(30px);
  background-color: #EFF1EF;
}
header .offcanvas .close {
  color: #DAD7CD;
  font-size: 25px;
  border: none;
  background-color: transparent;
}
header .offcanvas .navbar-nav,
header .offcanvas .reseaux {
  margin-top: 30px;
}
header .offcanvas .navbar-nav {
  text-align: center !important;
}
@media screen and (max-width: 480px) {
  header .offcanvas .navbar-nav {
    margin-top: 0px !important;
  }
}
header .offcanvas .navbar-nav .nav-item .nav-link {
  color: #133613;
  font-size: 25px;
  font-weight: 700;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
}
header .offcanvas .navbar-nav .nav-item .nav-link:hover, header .offcanvas .navbar-nav .nav-item .nav-link:focus, header .offcanvas .navbar-nav .nav-item .nav-link:active {
  color: #DAD7CD;
  margin-bottom: 15px;
}
header .offcanvas .navbar-nav .reseaux {
  padding-top: 30px;
  border-top: 3px solid #DAD7CD;
}

.footer {
  padding: 80px 0px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
@media screen and (max-width: 991px) {
  .footer {
    padding: 80px 15px;
  }
}
.footer h4,
.footer h5,
.footer h6 {
  font-size: 25px;
  font-weight: 800;
  font-family: "Rajdhani", sans-serif;
}
.footer h6 {
  margin-top: 40px;
}
.footer p,
.footer a {
  font-weight: 300;
  font-size: 18px !important;
  font-family: "Rajdhani", sans-serif !important;
}
@media screen and (max-width: 480px) {
  .footer .reseaux-title {
    margin-top: 40px;
  }
}
.footer p {
  margin: 0px;
}
.footer a:hover, .footer a:focus, .footer a:active {
  color: #7F9570;
}

.card {
  border: none;
}
.card h3 {
  font-size: 30px;
  font-weight: 800;
  font-family: "Rajdhani", sans-serif;
}
@media screen and (max-width: 480px) {
  .card h3 {
    font-size: 25px !important;
  }
}
.card p {
  font-size: 23px;
  margin-top: 10px;
}

.card-projet img {
  height: 406px;
}
@media screen and (max-width: 480px) {
  .card-projet img {
    height: 320px;
  }
}
.card-projet .infos {
  width: 90%;
  padding: 15px;
  position: absolute;
  display: flex;
  margin: -16% 5% 0 5%;
  background-color: #EFF1EF;
  backdrop-filter: blur(15px);
  background-color: var(--token-81ab93ff-d515-4aca-b63b-24f83b57a3ab, #eff1efd4);
}
@media screen and (max-width: 480px) {
  .card-projet .infos {
    width: 95% !important;
    margin: -20% 5% 0 3% !important;
  }
}
.card-projet .infos h4,
.card-projet .infos span {
  font-size: 18px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .card-projet .infos h4,
.card-projet .infos span {
    font-size: 16px !important;
  }
}
.card-projet .infos span {
  font-weight: 600;
}
.card-projet .infos .categories {
  margin-left: 54%;
}
@media screen and (max-width: 480px) {
  .card-projet .infos .categories {
    margin-left: 34% !important;
  }
}
@media screen and (max-width: 991px) {
  .card-projet .infos .categories {
    margin-left: 60%;
  }
}
.card-projet .infos .aut-cat {
  margin-left: 45%;
}
@media screen and (max-width: 480px) {
  .card-projet .infos .aut-cat {
    margin-left: 24% !important;
  }
}
@media screen and (max-width: 991px) {
  .card-projet .infos .aut-cat {
    margin-left: 54%;
  }
}

.btn {
  font-size: 15px;
  padding: 15px;
  font-weight: 800;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  font-family: "Aclonica", sans-serif;
}

.button--one {
  color: #7F9570;
  background-color: #133613;
}
.button--one:hover, .button--one:focus, .button--one:active {
  color: #133613;
  background-color: #DAD7CD;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.introduction {
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-image: url("../../assets/img/banner/Banner-kahinadev.png");
}
@media screen and (max-width: 480px) {
  .introduction {
    height: 680px;
  }
}
.introduction h1 {
  margin-top: 25%;
}
@media screen and (max-width: 480px) {
  .introduction h1 {
    margin-top: 8% !important;
  }
}
@media screen and (max-width: 991px) {
  .introduction h1 {
    margin-top: 35%;
  }
}
.introduction h1 br {
  display: none;
}
@media screen and (max-width: 480px) {
  .introduction h1 br {
    display: block !important;
  }
}
.introduction .content-intro {
  width: 30%;
  right: 0px;
  margin-top: 24%;
}
@media screen and (max-width: 480px) {
  .introduction .content-intro {
    width: 80% !important;
    margin-top: 15% !important;
  }
}
@media screen and (max-width: 991px) {
  .introduction .content-intro {
    width: 60%;
    margin-top: 52%;
  }
}

.about {
  padding-top: 140px;
}
.about img {
  height: 680px;
}
@media screen and (max-width: 480px) {
  .about img {
    margin-top: 10%;
    height: 320px !important;
  }
}
@media screen and (max-width: 991px) {
  .about img {
    height: 400px;
  }
}
@media screen and (max-width: 991px) {
  .about .pd-lg-5 {
    padding: 0 !important;
    margin-top: 50px !important;
  }
}

@media screen and (max-width: 991px) {
  .services .card {
    margin-bottom: 30px;
  }
}

.projets .projets-sec {
  margin-top: 5%;
}
@media screen and (max-width: 480px) {
  .projets .text-end {
    text-align: left !important;
    margin: 30px 0;
  }
}
@media screen and (max-width: 991px) {
  .projets .second {
    margin-top: 30px;
  }
}
.projets .three,
.projets .four {
  margin-top: 30px;
}

/*# sourceMappingURL=style.css.map */
