.hope-dark {
  color: #133613;
}

.hope-medium {
  color: #4A6D4A;
}

.hope-light {
  color: #7F9570;
}

.beige {
  color: #DAD7CD;
}

.pure {
  color: #EFF1EF;
}

.bg-hope-dark {
  background-color: #133613;
}

.bg-hope-medium {
  background-color: #4A6D4A;
}

.bg-hope-light {
  background-color: #7F9570;
}

.bg-beige {
  background-color: #DAD7CD;
}

.bg-pure {
  background-color: #EFF1EF;
}

h1,
h2,
h3 {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
}

.stroke-dark {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #133613;
  -webkit-text-stroke: 1px #133613;
}

.stroke-light {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #EFF1EF;
  -webkit-text-stroke: 1px #EFF1EF;
}

h1 {
  font-size: 7.8rem;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 6.3rem;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.9rem !important;
  }
}
@media screen and (max-width: 1280px) {
  h2 {
    font-size: 5.8rem;
  }
}

p {
  font-size: 26px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.3px;
  font-family: "Rajdhani", sans-serif;
}
@media screen and (max-width: 480px) {
  p {
    font-size: 23px;
  }
}
p strong {
  font-weight: 600;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
* {
  margin: 0;
  padding: 0;
  cursor: pointer;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #133613;
  background: linear-gradient(to bottom right, #133613, #214320, #2E512E, #3C5F3C, #4A6D4A);
  animation: gradient 15s ease infinite;
}

img {
  object-fit: cover;
}

section {
  padding: 120px 0px;
}
@media screen and (max-width: 480px) {
  section {
    padding: 120px 10px;
  }
}

.hope-dark {
  color: #133613;
}

.hope-medium {
  color: #4A6D4A;
}

.hope-light {
  color: #7F9570;
}

.beige {
  color: #DAD7CD;
}

.pure {
  color: #EFF1EF;
}

.bg-hope-dark {
  background-color: #133613;
}

.bg-hope-medium {
  background-color: #4A6D4A;
}

.bg-hope-light {
  background-color: #7F9570;
}

.bg-beige {
  background-color: #DAD7CD;
}

.bg-pure {
  background-color: #EFF1EF;
}

h1,
h2,
h3 {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
}

.stroke-dark {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #133613;
  -webkit-text-stroke: 1px #133613;
}

.stroke-light {
  color: transparent;
  text-transform: uppercase;
  font-family: "Aclonica", sans-serif;
  letter-spacing: 1px;
  text-stroke: 1px #EFF1EF;
  -webkit-text-stroke: 1px #EFF1EF;
}

h1 {
  font-size: 7.8rem;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 2.5rem !important;
  }
}
@media screen and (max-width: 991px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  font-size: 6.3rem;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 2.9rem !important;
  }
}
@media screen and (max-width: 1280px) {
  h2 {
    font-size: 5.8rem;
  }
}

p {
  font-size: 26px;
  font-weight: 300;
  text-align: justify;
  letter-spacing: 0.3px;
  font-family: "Rajdhani", sans-serif;
}
@media screen and (max-width: 480px) {
  p {
    font-size: 23px;
  }
}
p strong {
  font-weight: 600;
}

header {
  height: 50px;
}
header .navbar-brand .logo {
  width: 35%;
}
header .toggler {
  color: #7F9570;
}
@media screen and (max-width: 480px) {
  header .toggler {
    right: 15px;
    position: fixed;
  }
}
header .toggler,
header .close {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
header .offcanvas {
  border-left: none !important;
  backdrop-filter: blur(30px);
  background-image: linear-gradient(to right bottom, #4a6d4a, #577753, #64815c, #728b66, #7f9570);
}
header .offcanvas .close {
  color: #EFF1EF;
}
header .offcanvas .navbar-nav,
header .offcanvas .reseaux {
  margin-top: 30px;
}
header .offcanvas .navbar-nav {
  text-align: center !important;
}
@media screen and (max-width: 480px) {
  header .offcanvas .navbar-nav {
    margin-top: 0px !important;
  }
}
header .offcanvas .navbar-nav .nav-item .nav-link {
  color: #EFF1EF;
  font-size: 25px;
  font-weight: 700;
  transition: 0.5s;
  text-transform: uppercase;
  font-family: "Rajdhani", sans-serif;
}
header .offcanvas .navbar-nav .nav-item .nav-link:hover, header .offcanvas .navbar-nav .nav-item .nav-link:focus, header .offcanvas .navbar-nav .nav-item .nav-link:active {
  color: #7F9570;
  margin-bottom: 15px;
}
header .offcanvas .navbar-nav .reseaux {
  padding-top: 30px;
  border-top: 3px solid #EFF1EF;
}

.btn {
  font-size: 15px;
  padding: 15px;
  font-weight: 800;
  width: 250px;
  letter-spacing: 1px;
  transition: all 0.5s ease-in-out;
  font-family: "Aclonica", sans-serif;
}

.button--one {
  color: #EFF1EF;
  background-color: #4A6D4A;
}
.button--one:hover, .button--one:focus, .button--one:active {
  color: #EFF1EF;
  border-top: 3px solid #EFF1EF;
  border-right: 3px solid #EFF1EF;
  background-color: #133613;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.introduction {
  height: 880px;
}
@media screen and (max-width: 480px) {
  .introduction {
    height: 580px;
  }
}
.introduction h1 {
  margin-top: 10%;
}
@media screen and (max-width: 480px) {
  .introduction h1 {
    margin-top: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
