.introduction {
    height: 880px;

    @media screen and (max-width: $mobile) {
        height: 580px;
    }

    h1 {
        margin-top: 10%;

        @media screen and (max-width: $mobile) {
            margin-top: 20%;
        }
    }
}