.introduction {
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    background-image: url("../../assets/img/banner/Banner-kahinadev.png");

    @media screen and (max-width: $mobile) {
        height: 680px;
        background-position: right !important;
    }

    h1 {
        margin-top: 25%;

        @media screen and (max-width: $mobile) {
            margin-top: 8% !important;
        }

        @media screen and (max-width: $tablet-m) {
            margin-top: 35%;
        }

        br {
            display: none;

            @media screen and (max-width: $mobile) {
                display: block !important;
            }
        }
    }

    .content-intro {
        width: 30%;
        right: 0px;
        margin-top: 24%;

        @media screen and (max-width: $mobile) {
            width: 80% !important;
            margin-top: 15% !important;
        }

        @media screen and (max-width: $tablet-m) {
            width: 60%;
            margin-top: 52%;
        }
    }
}

.about {
    padding-top: 140px;
    img {
        height: 680px;

        @media screen and (max-width: $mobile) {
            margin-top: 10%;
            height: 320px !important;
        }

        @media screen and (max-width: $tablet-m) {
            height: 400px;
        }
    }

    .pd-lg-5 {
        @media screen and (max-width: $tablet-m) {
            padding: 0 !important;
            margin-top: $v-50 !important;
        }
    }
}

.services {
    .card {
       @media screen and (max-width: $tablet-m) {
        margin-bottom: $v-30;
       }
    }
}