$hope-dark: #133613;
$hope-medium: #4A6D4A;
$hope-light: #7F9570;
$beige: #DAD7CD;
$pure: #EFF1EF;
// $strong: #6D302C;

.hope-dark {
    color: $hope-dark;
}

.hope-medium {
    color: $hope-medium;
}

.hope-light {
    color: $hope-light;
}

.beige {
    color: $beige;
}

.pure {
    color: $pure;
}

.bg-hope-dark {
    background-color: $hope-dark;
}

.bg-hope-medium {
    background-color: $hope-medium;
}

.bg-hope-light {
    background-color: $hope-light;
}

.bg-beige {
    background-color: $beige;
}

.bg-pure {
    background-color: $pure;
}